apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "eviction-autoscaler.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "eviction-autoscaler.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: controller
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  config.yaml: |-
    metrics:
      enabled: {{ .Values.controllerConfig.metrics.enabled }}
    pdb.create: {{ .Values.controllerConfig.pdb.create | quote }}
    namespaces:
      watchMode: {{ .Values.controllerConfig.namespaces.watchMode | quote }}

