apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "eviction-autoscaler.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: eviction-autoscaler
    app.kubernetes.io/component: controller
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    helm.sh/chart: {{ include "eviction-autoscaler.chart" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: eviction-autoscaler
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: eviction-autoscaler
        app.kubernetes.io/component: controller
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ include "eviction-autoscaler.fullname" . }}
      terminationGracePeriodSeconds: 30
      securityContext:
        runAsNonRoot: true
      containers:
      - name: eviction-autoscaler
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
          - name: PDB_CREATE
            value: {{ .Values.controllerConfig.pdb.create | quote }}
          - name: ENABLED_BY_DEFAULT
            value: {{ .Values.controllerConfig.namespaces.enabledByDefault | quote }}
          - name: ACTIONED_NAMESPACES
            value: {{ join "," .Values.controllerConfig.namespaces.actionedNamespaces | quote }}
        command:
        - /manager
        args:
        - --leader-elect
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=:8080
        ports:
        - containerPort: 8080
          name: metrics
          protocol: TCP
        - containerPort: 8081
          name: health
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
