apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "eviction-autoscaler.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: eviction-autoscaler
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: controller
    helm.sh/chart: {{ include "eviction-autoscaler.chart" . }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
