name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  # Job to build the Docker image
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      #- name: Install dependencies
      #  run: |
      #    sudo apt-get update
      #    sudo apt-get install -y make
      - name: Clean Go build cache
        run: go clean -cache

      - name: Clean Go module cache
        run: go clean -modcache

      - name: Remove old binaries
        run: rm -rf ./bin
      
      - name: Tidy Go modules
        run: go mod tidy

      - name: Run tests
        run: make test

      - name: Force rebuild golangci-lint
        run: rm -f ./bin/golangci-lint-*

      - name: Lint
        run: make lint

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2        

      - name: Install kind
        run: go install sigs.k8s.io/kind@v0.26.0

      - name: e2e
        run: make test-e2e

      # TODO DALEC onboarding
      #- name: Log in to GitHub Container Registry
      #  uses: docker/login-action@v2
      #  with:
      #    username: paulgmiller
      #    password: ${{ secrets.DOCKERHUB_PASSWORD }}

      #- name: Build/ Push Docker image
      #  run: |
      #    SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)
      #    docker buildx build --platform linux/amd64,linux/arm64 -t paulgmiller/k8s-pdb-autoscaler:$SHORT_SHA --push .
          
        

